<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<form method="post">
    <select name="select1">
        {% for option in options %}
        <option>{{ option }}</option>
        {% endfor %}
    </select>

    <select name="select2">
        {% for option in options %}
        <option>{{ option }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Send">
</form>
{% if is_form_submit %}
<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Position</th>
        <th>Delta</th>
    </tr>
</table>
{{ options }}
{% endif %}
</body>
</html>